@media screen and (max-width: 1024px) {
    main {
        margin: 0px;
        padding: 0px;
        width: 1024px;
        height: 690px;
    }

    .left-section {
        margin-top: 53px;
        margin-left: 30px;
        width: 389px;
        height: 557px;
    }

    .right-section {
        margin-top: 72px;
        margin-right: 31px;
        margin-left: 360px;
        width: 633px;
        height: 517px;
        grid-template-columns:  55% 45%;
    }

    .left-column {
        padding-left: 35px;
    }

    .right-column {
        margin-right: 0px;
        padding-left: 20px;
    }

    .bottom-text {
        font-size: 16px;
    }

    .button {
        top: -52px;
        left: 613px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin: 0px;
        padding: 0px;
        width: 768px;
        height: 607px;
    }

    h1 {
        margin-top: 34px;
        line-height: 1.2;
        font-size: 20px;
    }
    
    .left-section {
        margin-top: 39px;
        margin-left: 28px;
        padding-left: 30px;
        width: 346px;
        height: 493px;
    }

    .deposit {
        margin-top: 30px;
    }
    .term {
        margin-top: 27px;
    }

    .radio-buttons {
        margin-top: 36px;
    }

    input[type=range] {
        width: 286px;
    }

    .right-section {
        margin-top: 40px;
        width: 374px;
        height: 469px;
    }

    .left-column {
        margin-bottom: 80px;
        padding-left: 45px;
        margin-left: 5px;
    }

    .right-column {
        margin-bottom: 80px;
        padding: 0;
        padding-left: 7px;
    }

    .left-cylinder, .right-cylinder {
        width: 126.5px;
        height: 42.5px;
        max-height: 175px;
    }

    .left-cylinder:before {
        width: 126.5px;
        height: 42.5px;
    }
    .right-cylinder:before {
        width: 126.5px;
        height: 42.5px;
    }

    .profit{
        padding-left: 2px;
        font-size: 23px;
    }

    .profit p {
        font-size: 14px;
    }

    .wrapper-right-cylinter {
        margin-top: -20px;
    }
    .wrapper-left-cylinter {
        margin-top: -20px;
    }

    .left-bottom, .right-bottom {
        width: 126.5px;
        
    }
    .left-bottom:before{
        width: 126.5px;
    }
    .right-bottom:before{
        width: 126.5px;
    }

    .button {
        left: 465px
    }

    .popup .popuptext {
        font-size: 16px;
        width: 350px;
        margin-left: -86px;
    }
}

@media screen and (max-width: 320px) {
    main {
        margin: 0px;
        padding: 0px;
        width: 320px;
        height: 882px;
    }
    .left-section {
        margin: 46px 24px 0px 24px;
        padding: 20px;
        width: 272px;
        height: 386px;
    }

    h1 {
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 0px;
    }

    input[type=range] {
        width: 232px;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 25px;
        height: 25px;
        border: solid 6px #fff;
    }

    .deposit {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .deposit p {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .sum-deposit {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
    }

    .sum-deposit span {
        padding-right: 5px;
    }
    
    .deposit .sum-deposit {
        margin: 0;
        font-size: 16px;
    }

    .term {
        font-size: 14px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .term p {
        font-size: 14px;
    }

    .mounths {
        font-size: 16px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        justify-content: end; 
    }
    .mounths span{
        padding-right: 5px;
    }

    .radio-buttons {
        margin-top: 34px;
    }
        
    .right-section {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: end;
        width: 242px;
        height: 406px;
        margin: 356px 39px 120px 39px;
        padding: 0px;
    }

    .left-column {
        padding: 0;
        margin: 0;
        margin-bottom: 60px;
        padding-left: 20px;
    }

    .right-column {
        margin-bottom: 60px;
        padding-left: 10px;
    }

    .left-cylinder, .right-cylinder {
        margin: 0;
        width: 73.9px;
        height: 107px;
        max-height: 107px;
    }
    .left-cylinder:before {
        width: 73.9px;
        height: 24.8px;
    }
    .right-cylinder:before {
        width: 73.9px;
        height: 24.8px;
    }

    .wrapper-right-cylinter {
        margin-top: -25px;
        padding-left: 5px;
    }
    .wrapper-left-cylinter {
        padding-left: 15px;
        margin-top: -25px;
    }

    .left-bottom, .right-bottom {
        margin-top: 16px;
        width: 73.9px;
        height: 37.8px;
        border-radius: 75px/25px;
    }
    .left-bottom:before{
        width: 73.9px;
        height: 24.8px;
    }

    .right-bottom:before{
        width: 73.9px;
        height: 24.8px;
    }

    .profit{
        padding-left: 2px;
        font-size: 17px;
    }

    .profit p {
        font-size: 14px;
    }

    .bottom-text {
        padding: 0;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 14px;
        text-align: left;
    }

    .bottom-text #popUp {
        padding: 3px 9px 1px 9px;
        margin-left: 5px;
    }

    .bottom-text #popUp:hover {
        border: solid 1.5px #4bd1a0;
    }

    .button {
        width: 209px;
        height: 60px;
        font-size: 16px;
        top: -150px;
        left: 56px;
    }
    .popup .popup-text {
        font-size: 14px;
        width: 270px;
        margin-left: -59px;
    }

    .modal-content {
        width:80%;
    }
}
